<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="V8Reader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <V8Reader.Properties.Settings>
            <setting name="PathToFileWorkshop" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffCmdLine" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="CodeEditor_SortMethods" serializeAs="String">
                <value>False</value>
            </setting>
        </V8Reader.Properties.Settings>
    </userSettings>
</configuration>
